body {
  background-color: #303030;
  background-image: url('https://www.transparenttextures.com/patterns/tileable-wood-colored.png');
}
#quote-generator {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #fbfbfb;
}
h1 {
  font-family: 'Secular One', sans-serif;
  font-size: 50px;
}

#quote-box {
  display: inline-block;
  width: 500px;
  height: fixed;
}

#text {
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  font-weight: 100;
  font-style: italic;
}

h2 {
  font-family: 'Cuprum', sans-serif;
}

button {
  margin-top: 20px;
}

#new-quote {
  padding: 7px;
  border-radius: 6px;
  border: none;
  outline: none;
  margin-right: 8px;
  background-color: #26a69a;
  color: #fbfbfb;
  font-size: 20px;
  cursor: pointer;
}

#tweet-quote {
  padding: 7px;
  border-radius: 6px;
  border: none;
  outline: none;
  margin-left: 8px;
  background-color: #1da1f2;
  color: #fbfbfb;
  font-size: 20px;
  cursor: pointer;
}
